<ion-header>
  <div style="height: 120px;color: white;background: rgb(14, 212, 255);">
    <ion-buttons style="position: absolute;left: 5px;top: 5px;" slot="start">
      <ion-back-button defaultHref="" text=""></ion-back-button>
    </ion-buttons>
    <ion-title style="text-align: center;padding-bottom: 80px;">工程实践</ion-title>
    <p style="position: absolute;color: black;top: 35px;left: 165px;">黄同学</p>
  </div>
</ion-header>
<div (click)="signup()" style="display: flex;flex-direction: column;border: 1px solid #d7d8da;width: 80%;height: 13%;position: absolute;background: white;z-index: 100;top: 80px;left: 38px;">
  <img style="margin: 0 auto;width: 55px;height: 55px;" src="../../../assets/img/pencil.png" alt="">
  <div style="margin: 0 auto;">参与签到</div>
</div>
<ion-content>
  <ion-list style="height: 43px;border-bottom: 1px solid black;"></ion-list>
  <ion-list>
    <div style="height: 30px;line-height: 30px;border-bottom: 1px solid #d7d8da;">
      <div style="float: left;padding-left: 10px;">成员总数</div>
      <div style="float: right;padding-right: 10px;">156</div>
    </div>
    <ion-item class="ion-no-padding" (click)="goDetail()">
      <img src="../../../assets/img/memberImg.png">
      <ion-label>
        <h2>成员1</h2>
        <h3>摘要信息</h3>
      </ion-label>
    </ion-item>
    <ion-item class="ion-no-padding" (click)="goDetail()">
      <img src="../../../assets/img/memberImg.png">
      <ion-label>
        <h2>成员2</h2>
        <h3>摘要信息</h3>
      </ion-label>
    </ion-item>
    <ion-item class="ion-no-padding" (click)="goDetail()">
      <img src="../../../assets/img/memberImg.png">
      <ion-label>
        <h2>成员3</h2>
        <h3>摘要信息</h3>
      </ion-label>
    </ion-item>
  </ion-list>
</ion-content>