<ion-header>
  <ion-toolbar>
    <ion-buttons style="position: absolute;" slot="start">
      <ion-back-button defaultHref="" text=""></ion-back-button>
      </ion-buttons>
    <ion-title style="text-align: center;">评分</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
    <div style="display: flex;flex-direction: row;border-bottom: 1px solid #d7d8da;">
      <img style="padding: 5px 5px 5px 10px;width: 15%;height: 100%;" src="../../../assets/img/memberImg.png" alt="">
      <div style="display: flex;flex-direction: column;width: 80%;padding: 7px 0px 0px 5px;">
        <div>
          <label style="float: left;">小组</label>
          <label style="float: right;color: #afafb1;font-size: 13px;">12:01</label>
        </div>
        <div>
          <label style="float: left;color: #afafb1;font-size: 13px;">作业</label>
          <label style="float: right;">评分</label>
        </div>
      </div>
    </div>
    <div style="display: flex;flex-direction: row;border-bottom: 1px solid #d7d8da;">
      <img style="padding: 5px 5px 5px 10px;width: 15%;height: 100%;" src="../../../assets/img/memberImg.png" alt="">
      <div style="display: flex;flex-direction: column;width: 80%;padding: 7px 0px 0px 5px;">
        <div>
          <label style="float: left;">小组</label>
          <label style="float: right;color: #afafb1;font-size: 13px;">12:01</label>
        </div>
        <div>
          <label style="float: left;color: #afafb1;font-size: 13px;">作业</label>
          <label style="float: right;">评分</label>
        </div>
      </div>
    </div>
    <div style="display: flex;flex-direction: row;border-bottom: 1px solid #d7d8da;">
      <img style="padding: 5px 5px 5px 10px;width: 15%;height: 100%;" src="../../../assets/img/memberImg.png" alt="">
      <div style="display: flex;flex-direction: column;width: 80%;padding: 7px 0px 0px 5px;">
        <div>
          <label style="float: left;">小组</label>
          <label style="float: right;color: #afafb1;font-size: 13px;">12:01</label>
        </div>
        <div>
          <label style="float: left;color: #afafb1;font-size: 13px;">作业</label>
          <label style="float: right;">评分</label>
        </div>
      </div>
    </div>
  </ion-list>
</ion-content>
